import '{informedUseCaseName.snakeCase}.dart';

class {informedUseCaseName.pascalCase}Imp implements {informedUseCaseName.pascalCase} {
  @override
  Future<void> call() {

    // TODO: implement call
    throw UnimplementedError();
  }
}